{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "^react-native$": "react-native-web",
          "test": "./test",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
